<VirtualHost *:{{ http_port }}>
   ServerAdmin root@localhost
   ServerName {{ http_host }}
   ServerAlias www.{{ http_host }}
   DocumentRoot /var/www/wordpress
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined

<Directory "/var/www/wordpress">
      Options Indexes FollowSymLinks
      AllowOverride all
      Require all granted
</Directory>

   <IfModule mod_dir.c>
       DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
   </IfModule>
